.ui-page 
{
	max-width: 800px !important;
    margin: 0 auto !important;
    position: relative !important;
}

.ui-header
{
	max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: 'Georgia'
}

.ui-content
{
	box-shadow: 0px 0px 10px #000;
}

.ui-title
{
	width:100%;
	margin-left: auto !important;
	margin-right: auto !important;
}


/*------------------BusinessPage------------*/
#businessName_li
{
	text-align: center;
	box-shadow:0px 0px 10px #000 inset;
}

#bp_section1
{
	box-shadow: 0px 0px 10px #000 inset;
	padding:5px;	
	background-color: #502970;
	border-radius:10px;
	margin-bottom:15px;
}
#bp_section1_ul
{
	border:1px solid #502970;
	margin: 5px;
}
#bp_section3_ul
{
	border:1px solid #502970;
	margin: 5px;
}
.businessInfo1_li
{
	border-top:none;
	border-bottom:1px solid #000;
}
.bussinessImage
{
	max-width:50%; /*95%*/
	box-shadow: 0px 0px 10px #000;
	margin:5px;
	border-radius:10px;
	display:relative;
	float:right;
}
#businessPage_socialImpact
{
	text-align: left;
}

#businessPage_Hours
{
	text-align: left;
}

#bp_section2
{
	box-shadow:0px 0px 5px #000;
}
.bp_section2_button
{
	border-radius:10px;
}
#bp_section2_location .ui-btn-text
{
	white-space: normal !important;
}
#bp_section2_location
{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#bp_section2_phone
{
	border-radius:0px !important;
}
#bp_section2_website
{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

#businessPage_shareButton
{
	width:100px;
	float:right;
	box-shadow: 0px 0px 5px #000;
	border-radius: 10px;
}
/*------------------/BusinessPage------------*/





